@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
[class^="ico-"] {
  display: inline-block;
  vertical-align: middle; }

.ico-chat {
  width: 70px;
  height: 70px;
  background: url(../images/chat.png) no-repeat center;
  background-size: 70px; }

.ico-earth {
  width: 70px;
  height: 70px;
  background: url(../images/planet-earth.png) no-repeat center;
  background-size: 70px; }

.ico-eye {
  width: 70px;
  height: 70px;
  background: url(../images/eye.png) no-repeat center;
  background-size: 70px; }

.ico-idea {
  width: 70px;
  height: 70px;
  background: url(../images/idea.png) no-repeat center;
  background-size: 70px; }

.ico-medal {
  width: 70px;
  height: 70px;
  background: url(../images/medal.png) no-repeat center;
  background-size: 70px; }

.ico-left {
  width: 70px;
  height: 70px;
  background: url(../images/arrow-left.png) no-repeat center;
  background-size: 70px; }

.ico-right {
  width: 70px;
  height: 70px;
  background: url(../images/arrow-right.png) no-repeat center;
  background-size: 70px; }

.title {
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  color: #CF1F2E;
  font-weight: 700; }

.uc {
  text-transform: uppercase; }

.title-s2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #eaeaea;
  font-size: 8em;
  margin-left: -2.5%;
  font-weight: 700; }
  .title-s2.right {
    text-align: right;
    margin-right: -2.5%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

.container800 {
  max-width: 800px; }

.oxhide {
  overflow-x: hidden; }

.mt30 {
  margin-top: 30px; }

.mt50 {
  margin-top: 50px; }

.secbg-gray {
  background-color: #F0F0F0; }

.head-info-widget {
  background: #CF1F2E;
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto; }
  .head-info-widget ul {
    list-style: none;
    padding: 0;
    text-align: center; }
    .head-info-widget ul li {
      display: inline-block;
      margin: 10px;
      padding: 10px; }
      .head-info-widget ul li h3 {
        font-family: "Montserrat", sans-serif;
        color: inherit;
        font-size: 2.5em; }
      .head-info-widget ul li p {
        margin-bottom: 0; }

.locations-container .location {
  min-height: 225px;
  position: relative;
  margin: 10px 0;
  overflow: hidden; }
  .locations-container .location .loc-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%; }
  .locations-container .location .loc-hover {
    opacity: 0;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif; }
    .locations-container .location .loc-hover .loc-title {
      color: inherit;
      font-weight: 700;
      font-size: 2em;
      margin-top: 0; }
    .locations-container .location .loc-hover .loc-date {
      font-size: 1.25em;
      font-weight: 600; }
  .locations-container .location:hover .loc-bg {
    -webkit-filter: blur(13px) brightness(0.82);
    filter: blur(13px) brightness(0.82); }
  .locations-container .location:hover .loc-hover {
    opacity: 1; }

.sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 500px) {
    .sponsors {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .sponsors a {
    max-width: 225px;
    margin: 5px 15px; }
    .sponsors a img {
      width: 100%;
      height: auto; }

.faq-block h4 {
  font-family: "Montserrat", sans-serif;
  color: #CF1F2E;
  font-weight: 700;
  font-size: 1.5em; }
.faq-block p {
  font-size: 1.25em; }

.btn.buy-tickets {
  border: 1px solid #fff;
  border-radius: 0;
  text-transform: uppercase;
  background: transparent;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 10px 30px;
  position: relative;
  transform: translateX(100px); }
  @media screen and (max-width: 768px) {
    .btn.buy-tickets {
      transform: scale(0.8) translateX(75px); } }
  .btn.buy-tickets:before {
    content: attr(data-left) " left";
    display: block;
    position: absolute;
    left: -1px;
    transform: translateX(-100%);
    background: #000000;
    height: 100%;
    top: 0;
    padding: 10px 30px;
    width: 200px; }
  .btn.buy-tickets:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url(../images/arrow-right.png) no-repeat center;
    width: 60px;
    height: 30px;
    background-size: 100%;
    margin-left: 10px; }
  @media screen and (max-width: 500px) {
    .btn.buy-tickets {
      transform: scale(1); }
      .btn.buy-tickets:before {
        transform: translateX(0) translateY(100%);
        left: 0;
        top: 1px;
        width: 100%; } }

.city-counter-widget {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: -60px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9;
  text-align: center; }
  .city-counter-widget ul {
    list-style-type: none;
    padding: 0; }
    .city-counter-widget ul li {
      background-color: #CF1F2E;
      display: inline-block;
      color: #ffffff;
      padding: 15px;
      min-width: 130px;
      margin: 0 5px; }
      .city-counter-widget ul li p {
        margin-bottom: 0; }
  .city-counter-widget h3 {
    font-family: "Montserrat", sans-serif;
    color: inherit;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px; }

.sp-pricing {
  margin-top: 30px; }
  .sp-pricing .price-block {
    color: #ffffff;
    overflow: hidden;
    padding: 30px;
    font-family: "Montserrat", sans-serif; }
    .sp-pricing .price-block.red {
      background: #CF1F2E; }
    .sp-pricing .price-block.black {
      background: #000000; }
    .sp-pricing .price-block.gray {
      background: #5d5d5d; }
    .sp-pricing .price-block .pb-title {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5em;
      line-height: 1.1;
      letter-spacing: .5px; }
    .sp-pricing .price-block .pb-price {
      color: #ffffff;
      font-size: 1.2em;
      letter-spacing: 1px;
      font-weight: 700;
      margin: 20px 0; }
    .sp-pricing .price-block p {
      font-size: 16px; }

.ag-times .ag-time {
  padding: 15px; }
  .ag-times .ag-time h2 {
    color: #CF1F2E;
    font-weight: 700;
    font-size: 2em; }
  .ag-times .ag-time p {
    font-size: 1.125em; }

.speaker {
  position: relative;
  margin-top: 15px; }
  .speaker .speaker-img img {
    width: 100%;
    height: auto; }
  .speaker .speaker-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CF1F2E;
    opacity: 0;
    transition: all .5s ease; }
    .speaker .speaker-hover div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .speaker .speaker-hover h2 {
      color: #ffffff;
      margin-bottom: 0;
      font-weight: 700;
      text-transform: uppercase; }
    .speaker .speaker-hover h3 {
      margin-top: 10px;
      color: #ffffff; }
  .speaker:hover .speaker-hover {
    opacity: 1; }

.btn {
  border-radius: 0; }

.btn-dark {
  font-weight: 600;
  color: #ffffff;
  background: #000000; }

.btn-light {
  font-weight: 600;
  color: #000000;
  background: #ffffff; }

.btn-block {
  display: block; }

.head-banner {
  background: url(../images/banner.jpg) no-repeat center;
  min-height: 600px;
  position: relative; }
  .head-banner .head-info-widget {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: -60px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9; }

.home-intro {
  margin-top: 100px; }
  .home-intro p {
    max-width: 600px;
    margin: auto;
    font-size: 1.25em; }

.home-location {
  margin-top: 70px;
  margin-bottom: 50px; }

.home-quote {
  background-color: #000000;
  color: #ffffff;
  padding: 75px 0; }
  .home-quote .q--title {
    font-size: 2.5em;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #CF1F2E;
    text-transform: uppercase; }
  .home-quote .q--author span {
    display: block; }
    .home-quote .q--author span.name {
      font-weight: 600;
      font-size: 1.125em;
      letter-spacing: .5px; }
    .home-quote .q--author span.pos {
      font-size: 1.25em; }
  .home-quote .q--des {
    font-size: 1.25em;
    padding: 20px 0; }

.home-sponsors {
  margin: 70px 0 100px; }

.home-faq {
  background-color: #f4f4f4;
  padding: 50px 0; }

.home-tlf {
  margin: 50px 0; }

.home-cta {
  background: #CF1F2E;
  padding: 100px 0;
  text-align: center; }
  .home-cta .container {
    max-width: 600px;
    margin: auto; }
  .home-cta .title {
    color: #fff;
    margin-top: 0; }

.main-footer {
  background-color: #000000; }
  .main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; }
  .main-footer .footer--logo {
    max-width: 300px;
    padding: 10px; }
    .main-footer .footer--logo img {
      max-width: 100%;
      height: auto; }
  .main-footer .footer--copy {
    padding: 10px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif; }

.city-banner {
  background: url(../images/banner_city.jpg) no-repeat center;
  background-size: cover;
  min-height: 800px; }
  .city-banner .banner-content {
    position: absolute;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .city-banner .banner-content hgroup {
      background: rgba(0, 0, 0, 0.25);
      padding: 20px; }
    .city-banner .banner-content h1, .city-banner .banner-content h3 {
      color: #ffffff; }
    .city-banner .banner-content .cb-title {
      text-transform: uppercase;
      font-size: 3.5em;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 1px;
      margin-bottom: 0; }
    .city-banner .banner-content .cb-date {
      font-family: "Montserrat", sans-serif;
      font-size: 1.75em;
      margin-top: 5px; }
    .city-banner .banner-content .btn.buy-tickets {
      margin-top: 20px;
      transform: translateX(100%);
      background: #fff;
      color: #000000; }
      .city-banner .banner-content .btn.buy-tickets:before {
        color: #fff; }
      .city-banner .banner-content .btn.buy-tickets:after {
        background: url(../images/arrow-right-dark.png) no-repeat center;
        background-size: 100%; }

.city-intro {
  margin-top: 100px;
  font-size: 1.25em;
  line-height: 1.5; }
  .city-intro .container {
    max-width: 800px; }

.city-agenda {
  margin-top: 50px; }
  .city-agenda .container {
    max-width: 800px; }

.city-speakers {
  margin-bottom: 50px; }

.city-quote {
  background-color: #ffffff;
  color: #000000; }
  .city-quote .q--title {
    font-weight: 700; }

.city-faq {
  background-color: #ffffff; }
  .city-faq .faqRight {
    margin-top: -80px; }

.city-ticket {
  background: #ffffff; }
  .city-ticket .container {
    max-width: 1140px; }
  .city-ticket .title {
    color: #CF1F2E;
    text-align: left; }
  .city-ticket .btn.buy-tickets {
    color: #000000;
    font-weight: 700;
    border: 1px solid #000000; }
    .city-ticket .btn.buy-tickets:before {
      background: #CF1F2E;
      color: #ffffff; }
    .city-ticket .btn.buy-tickets:after {
      background: url(../images/arrow-right-dark.png) no-repeat center;
      background-size: contain; }

.forum-header {
  background: url("../images/Athens-Ancient-Theatre-Sunny.jpg") no-repeat center;
  background-size: cover;
  min-height: 600px;
  display: flex;
  position: relative;
  align-items: center; }

.f-content {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto; }
  .f-content .f--bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 750px;
    background: #CF1F2E url(../images/xBanner.png) no-repeat bottom right;
    background-size: 120%;
    z-index: 0; }
  .f-content .fh-cont {
    position: relative;
    z-index: 1; }
    .f-content .fh-cont .title {
      color: #ffffff;
      width: 100%;
      max-width: 500px;
      font-size: 3.85em;
      margin-top: 0; }

section.f-mission {
  padding-top: 30px;
  padding-bottom: 30px; }

section.f-eventloc {
  margin: 50px 0; }
  section.f-eventloc .location .loc-img img {
    width: 240px;
    height: 295px;
    object-fit: cover;
    margin: auto;
    display: block; }
  section.f-eventloc .location .loc-hover h2 {
    margin-bottom: 10px; }

section.f-benifits {
  padding: 50px; }
  section.f-benifits .benifits-wrap {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center; }
    section.f-benifits .benifits-wrap .benifit {
      flex-basis: 300px;
      text-align: center;
      margin: 10px;
      padding: 15px; }
      section.f-benifits .benifits-wrap .benifit h3 {
        font-weight: 700;
        color: #CF1F2E;
        margin-bottom: 5px; }

section.f-testimonials {
  background-color: #CF1F2E; }
  section.f-testimonials .carousel-inner {
    padding-left: 100px;
    padding-right: 100px; }
  section.f-testimonials .q--title {
    color: #ffffff; }
  section.f-testimonials .q--author figure {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden; }

section.f-wsa {
  margin: 60px 0; }

section.f-selectcity-cta {
  background: #CF1F2E;
  padding: 30px 0 60px; }
  section.f-selectcity-cta .title {
    color: #ffffff; }

section.f-tlf {
  background: #F0F0F0;
  padding: 50px 0; }
  section.f-tlf .sponsors {
    justify-content: space-around;
    max-width: 900px;
    margin: auto; }
    section.f-tlf .sponsors a {
      max-width: 165px; }

.subheading {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5; }

.select-city-seat {
  display: flex;
  align-items: center;
  padding-bottom: 15px; }
  .select-city-seat .selectcity {
    position: relative;
    background: #fff;
    z-index: 1; }
    .select-city-seat .selectcity select {
      height: 50px;
      border: none;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #ADADAD;
      font-weight: 400;
      font-size: 1.25em;
      padding: 0 30px;
      padding-left: 57px;
      min-width: 270px;
      background: transparent; }
    .select-city-seat .selectcity:before {
      content: '';
      display: block;
      background: #ADADAD url(../images/cog.png) no-repeat center;
      background-size: 25px;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: -1; }

.btn-reqseat {
  background: #000000;
  border-radius: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125em;
  height: 50px;
  display: block;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 10px 40px;
  text-decoration: none; }
  .btn-reqseat:after {
    content: "";
    background: url("../images/arrow-right.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/arrow-right.png) no-repeat center;
    width: 60px;
    height: 30px;
    background-size: 100%;
    margin-left: 20px; }
  .btn-reqseat:hover {
    color: #ffffff;
    text-decoration: none; }

.citySelector {
  display: flex;
  justify-content: center; }
  .citySelector input {
    height: 70px;
    outline: 0;
    font-size: 1.3em;
    padding: 20px;
    border: 0; }
  .citySelector .btn {
    height: 70px;
    font-size: 1.75em;
    font-weight: 400;
    padding: 10px 30px; }
    .citySelector .btn .ico-right {
      height: 30px;
      background-size: 50px;
      margin-top: -5px; }

@media only screen and (max-width: 768px) {
  .btn.buy-tickets:before {
    transform: translateX(0) translateY(100%);
    left: 0;
    top: 1px;
    width: 100%; }

  .title-s2 {
    font-size: 3.2em; }

  .city-banner {
    min-height: 600px; }
    .city-banner .banner-content {
      position: static;
      transform: none;
      text-align: center; }
      .city-banner .banner-content hgroup {
        font-size: 10px; }
      .city-banner .banner-content .btn.buy-tickets {
        transform: none; }

  .city-counter-widget ul li {
    min-width: 80px;
    font-size: 12px;
    padding: 7px; }

  .city-faq .faqRight {
    margin-top: 0; }

  .city-quote {
    padding: 15px 0; }

  .city-faq {
    padding: 15px 0; } }

/*# sourceMappingURL=main.css.map */
