[class^="ico-"]{
  display: inline-block;
  vertical-align: middle;
}
.ico-chat{
  width: 70px;
  height: 70px;
  background: url(../images/chat.png) no-repeat center;
  background-size: 70px;
}
.ico-earth{
  width: 70px;
  height: 70px;
  background: url(../images/planet-earth.png) no-repeat center;
  background-size: 70px;
}
.ico-eye{
  width: 70px;
  height: 70px;
  background: url(../images/eye.png) no-repeat center;
  background-size: 70px;
}
.ico-idea{
  width: 70px;
  height: 70px;
  background: url(../images/idea.png) no-repeat center;
  background-size: 70px;
}
.ico-medal{
  width: 70px;
  height: 70px;
  background: url(../images/medal.png) no-repeat center;
  background-size: 70px;
}
.ico-left{
  width: 70px;
  height: 70px;
  background: url(../images/arrow-left.png) no-repeat center;
  background-size: 70px;
}
.ico-right{
  width: 70px;
  height: 70px;
  background: url(../images/arrow-right.png) no-repeat center;
  background-size: 70px;
}
