.forum-header {
  background: url("../images/Athens-Ancient-Theatre-Sunny.jpg") no-repeat center;
  background-size: cover;
  min-height: 600px;
  display: flex;
  position: relative;
  align-items: center;
}
.f-content {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  .f--bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 850px;
    background: $color-red url(../images/xBanner.png) no-repeat bottom right;
    background-size: 120%;
    z-index: 0;
  }
  .fh-cont{
    position: relative;
    z-index: 1;
    .title{
      color: $white;
      width: 100%;
      max-width: 500px;
      font-size: 3.85em;
      margin-top: 0;
    }
  }
}

// f-intro
section.f-intro{}
section.f-mission{
  padding-top: 30px;
  padding-bottom: 30px;
}
section.f-eventloc{
  margin: 50px 0;
  .location{
    .loc-img{
      img{
        width: 240px;
        height: 295px;
        object-fit: cover;
        margin: auto;
        display: block;
      }
    }
    .loc-hover{
      h2 {
        margin-bottom: 10px;
      }
    }
  }
}
section.f-benifits{
  padding: 50px;
  .benifits-wrap{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    .benifit{
      flex-basis: 300px;
      text-align: center;
      margin: 10px;
      padding: 15px;
      h3{
        font-weight: 700;
        color: $color-red;
        margin-bottom: 5px;
      }
    }
  }
}
section.f-testimonials{
  background-color: $color-red;
  .carousel-inner{
    padding-left: 100px;
    padding-right: 100px;
  }
  .q--title{
    color: $white;
  }
  .q--author{
    figure{
      width: 175px;
      height: 175px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
section.f-wsa{
  margin: 60px 0;
}
section.f-selectcity-cta{
  background: $color-red;
  padding: 30px 0 60px;
  .title{
    color: $white;
  }
}
section.f-tlf{
  background: $bg-gray;
  padding: 50px 0;
  .sponsors{
    justify-content: space-around;
    max-width: 900px;
    margin: auto;
    a{
      max-width: 165px;
    }
  }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// modules
.subheading{
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5;
}
.select-city-seat{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  .selectcity{
    select{
      height: 50px;
      border: none;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: $gray;
      font-weight: 400;
      font-size: 1.25em;
      padding: 0 30px;
      padding-left: 57px;
      min-width: 270px;
      background: transparent;
    }
    position: relative;
    background: #fff;
    z-index: 1;
    &:before{
      content: '';
      display: block;
      background: $gray url(../images/cog.png) no-repeat center ;
      background-size: 25px;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: -1;
    }
  }
}
.btn-reqseat {
  background: $black;
  border-radius: 0;
  text-transform: uppercase;
  color: $white;
  font-family: $heading-font;
  font-size: 1.125em;
  height: 50px;
  display: block;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 10px 40px;
  text-decoration: none;
  &:after {
    content: "";
    background: url("../images/arrow-right.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/arrow-right.png) no-repeat center;
    width: 60px;
    height: 30px;
    background-size: 100%;
    margin-left: 20px;
  }
  &:hover{
    color: $white;
    text-decoration: none;
  }
}
.citySelector{
  display: flex;
  justify-content: center;
  input{
    height: 70px;
    outline: 0;
    font-size: 1.3em;
    padding: 20px;
    border: 0;
  }
  .btn{
    height: 70px;
    font-size: 1.75em;
    font-weight: 400;
    padding: 10px 30px;
    .ico-right{
      height: 30px;
      background-size: 50px;
      margin-top: -5px;
    }
  }
}
