.forum-header {
  background: url("../images/Athens-Ancient-Theatre-Sunny.jpg") no-repeat center;
  background-size: cover;
  min-height: 600px;
  display: flex;
  position: relative;
  align-items: center;
}
.f-content {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  .f--bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 750px;
    background: $color-red url(../images/xBanner.png) no-repeat bottom right;
    background-size: 120%;
    z-index: 0;
  }
  .fh-cont{
    position: relative;
    z-index: 1;
    .title{
      color: $white;
      width: 100%;
      max-width: 500px;
      font-size: 3.85em;
      margin-top: 0;
    }
  }
}

// modules
.select-city-seat{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  .selectcity{
    select{
      height: 50px;
      border: none;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: $gray;
      font-weight: 400;
      font-size: 1.25em;
      padding: 0 30px;
      padding-left: 57px;
      min-width: 270px;
      background: transparent;
    }
    position: relative;
    background: #fff;
    z-index: 1;
    &:before{
      content: '';
      display: block;
      background: $gray url(../images/cog.png) no-repeat center ;
      background-size: 25px;
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: -1;
    }
  }
}
.btn-reqseat {
  background: $black;
  border-radius: 0;
  text-transform: uppercase;
  color: $white;
  font-family: $heading-font;
  font-size: 1.125em;
  height: 50px;
  display: block;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 10px 40px;
  text-decoration: none;
  &:after {
    content: "";
    background: url("../images/arrow-right.png") no-repeat center;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/arrow-right.png) no-repeat center;
    width: 60px;
    height: 30px;
    background-size: 100%;
    margin-left: 20px;
  }
  &:hover{
    color: $white;
    text-decoration: none;
  }
}
